.box{
    width: 60%;
    
    background: rgba(0, 0, 0, 0.4);
    margin: auto;

    color:white;
    
    margin-top: 10%;
    padding: 1%;
    font-family: 'Century Gothic',sans-serif;
}
.boxForm{
    width: 60%;
    
    background: rgba(0, 0, 0, 0.4);
    margin: auto;

    color:white;
    
    margin-top: 10%;
    padding: 1%;
    font-family: 'Century Gothic',sans-serif;
}
.box table{
    border-collapse: collapse;
    width: 100%;
   
    
}

.box table td,
.box table tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    float: right;
  }

  .formbox{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.formbox table {
    margin: auto;
}
.box tr img{
    width: 40px;
    height: 40px;
}

.item {
    width: 30%;
    position: relative;
    float: left;
    display: block;
}